@model DotNetFrameworkRefresh.Models.Car

@{
    ViewBag.Title = "Vehicle Details";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    <hr />
</div>
<div>
    <h4>Service History</h4>
    <p>
        @Html.ActionLink("Add New Service Entry", "Create", "Services", new { carId = Model.Id }, null)
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().ServiceDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().ServiceHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services.FirstOrDefault().ServiceNotes)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Services)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Id.ToString(), "Details", "Services", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceNotes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Services", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Services", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>
